

<h2 align="center" style="padding-right: 16%;padding-top: 2%">Details of Tasks</h2>
<button class="btn btn-warning pull-right"><%= link_to 'Create New Task',:controller=>"task",:action=>"new" %></button>

<div class="table table-responsive">
 <table class="table table-bordered">
  <thead>
    <tr>
    <th>Serial No</th>
     <th>Project Name</th>
      <th>Task Date</th>
       <th>Task Duration</th>
        <th>Task Description</th>
         <th>Employee Name</th>
          <th>Task Estimation</th>
           <th>Task Status</th>
            <th>Edit</th>
             <th>Delete</th>
     </tr>
  </thead>

 <tbody>
  <tr>
   <% unless @task.nil? %>
    <% @task.each_with_index do |t,index| %>
     <td><%= index+1 %></td>
      <td><%= t.project.project_name %> </td>
       <td><%= t.task_date%> </td>
        <td><%= t.task_duration %> </td>
         <td><%= t.task_desc %> </td>
          <td><%= t.employee.emp_name %> </td>
           <td><%= t.task_hour %> </td>
            <td><%= t.task_status %> </td>
            
             <td><%= link_to "<span class='glyphicon glyphicon-pencil project edit'>".html_safe ,
              :controller=>"task",
              :action=>"edit",
              :id=>t.id %></td>

             <td><%= link_to "<span class='glyphicon glyphicon-pencil delete'>".html_safe,:controller=>"task",
              :action=>"delete",
              :id=>t.id %> </td>
  </tr>
  <% end %>
  <% end %>

  </tbody>
 </table>
</div>



